spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: auth_user
    password: auth_pass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

jwt:
  secret: Q9pX7mL2aF8CwZsYB6JdK4E3N5V0R1UO
  access-token-expiration: 86400000      # 15 minutes
  refresh-token-expiration: 604800000  # 7 days
