spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: auth_user
    password: auth_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

jwt:
  secret: very_secret_key_change_in_prod
  access-token-expiration: 900000      # 15 minutes
  refresh-token-expiration: 604800000  # 7 days
